@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="py-1 center">
        <p class="center">  <h1>Team Members </h1> </p>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/shimul.jpg")"  height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Md. Shimul Mahmud</h5>
                    <p class="card-text">Student ID: 1804021</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/student01.png")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jamiul Hasan Joy</h5>
                    <p class="card-text">Student ID: 1804028 </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/student01.png")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Md. Shahriar Ahmed</h5>
                    <p class="card-text">Student ID: 1804020 </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/student01.png")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Arnab Chakraborty </h5>
                    <p class="card-text">Student ID: 1804087</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/student02.png")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nourin Noushrat Noushin</h5>
                    <p class="card-text">Student ID: 1804114</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/student02.png")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nabila Rahman </h5>
                    <p class="card-text">Student ID: 1804108</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/student02.png")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tajbi Mim </h5>
                    <p class="card-text">Student ID: 1804123</p>
                </div>
            </div>
        </div>
    </div>
</main>